extends layout

block content
    .jumbotron
        h1 Nemesis.io
        p.lead
            | A full stack javascript web framework with opinions
        p
            a.btn.btn-lg.btn-success(href='#', role='button') Get Started!
